<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>기본 페이지</title>
  <link rel="stylesheet" href="file/css/main.css">
</head>
<body>
  <div class="ytsr">
    <h2>ytsr</h2>
    <h3>TEXT로 노래검색</h3>
    <h4>사용법: 밑에 검색하고 싶은 제목 검색</h4>
    <input id="text" type="text" placeholder="예시: 에잇" />
    <button type="button" onclick="onClick('ytsr')">검색</button>
  </div>
  <div class="recommand">
    <h2>recommand</h2>
    <h3>받은 노래 아이디로 노래추천</h3>
    <h4>사용법: 제외할 리스트(유튜브 아이디)입력<br />노래 아이디 (유튜브 아이디) 검색</h4>
    <input id="list" type="text" placeholder="예시: ['5_IYVichXbA']" />
    <br />
    <br />
    <input id="text2" type="text" placeholder="예시: 5_IYVichXbA" />
    <button type="button" onclick="onClick('recommand')">검색</button>
  </div>
  <div class="play">
    <h2>play</h2>
    <h3>받은 노래주소(유튜브영상,유튜브뮤직)로 자동재생</h3>
    <h4>사용법: 노래주소(유튜브영상,유튜브뮤직) 입력</h4>
    <h5>예시: ['https://music.youtube.com/watch?v=ShP6KqZVQtM']</h5>
    <input id="text3" type="text" placeholder="예시: ['ShP6KqZVQtM']" />
    <br />
    <button type="button" onclick="onClick('play')">재생</button>
  </div>
  <script>
    const onClick = (data) => {
      let url = `<%- domain %>/`;
      let text = document.getElementById("text").value;
      let text2 = document.getElementById("text2").value;
      let text3 = document.getElementById("text3").value;
      let list = document.getElementById("list").value;
      if (data == "ytsr") url += `ytsr?text=${text}&html=true`;
      if (data == "recommand") url += `recommand?list=${list ? list : "[]"}&vid=${text2}&html=true`;
      if (data == "play") url += `play?url=${text3}`;
      window.location.href = url;
    }
  </script>
</body>
</html>