
body {
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
}
input {
  text-align: center;
  font-size: 14px;
  padding: 4px 0px;
  width: 100px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
button {
  font-size: 13px;
  padding: 3.5px 5px;
}
.page, .pageCount, .count {
  margin-top: 6px;
}
a {
  font-weight: bold;
  color: rgb(0, 0, 255);
  text-decoration: none;
}
a:hover {
  color: rgba(0, 0, 255, 0.5);
}
.embed {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 56.25%;
}
.embed iframe,
.embed object,
.embed embed {
  position: absolute;
  top: 0;
  left: 8%;
  width: 84%;
  height: 84%;
}